@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.1796 0.0399 270.8287);
  --foreground: oklch(0.9279 0.0213 268.4266);
  --card: oklch(0.2143 0.0406 270.0716);
  --card-foreground: oklch(0.9279 0.0213 268.4266);
  --popover: oklch(0.2143 0.0406 270.0716);
  --popover-foreground: oklch(0.9279 0.0213 268.4266);
  --primary: #3c83f6;
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3457 0.0666 270.1149);
  --secondary-foreground: oklch(0.9061 0.0159 266.2716);
  --muted: oklch(0.2744 0.0540 267.8847);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3457 0.0666 270.1149);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3457 0.0666 270.1149);
  --input: oklch(0.3457 0.0666 270.1149);
  --ring: #3c83f6;
  --chart-1: #3c83f6;
  --chart-2: oklch(0.7660 0.1179 145.2950);
  --chart-3: oklch(0.8179 0.1705 77.9481);
  --chart-4: oklch(0.6539 0.1926 25.1437);
  --chart-5: oklch(0.6455 0.1622 321.6136);
  --sidebar: oklch(0.1796 0.0399 270.8287);
  --sidebar-foreground: oklch(0.9279 0.0213 268.4266);
  --sidebar-primary: #3c83f6;
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3457 0.0666 270.1149);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3457 0.0666 270.1149);
  --sidebar-ring: #3c83f6;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 1rem;
}

.dark {
  --background: oklch(0.1796 0.0399 270.8287);
  --foreground: oklch(0.9279 0.0213 268.4266);
  --card: oklch(0.2143 0.0406 270.0716);
  --card-foreground: oklch(0.9279 0.0213 268.4266);
  --popover: oklch(0.2143 0.0406 270.0716);
  --popover-foreground: oklch(0.9279 0.0213 268.4266);
  --primary: #3c83f6;
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3457 0.0666 270.1149);
  --secondary-foreground: oklch(0.9061 0.0159 266.2716);
  --muted: oklch(0.2744 0.0540 267.8847);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3457 0.0666 270.1149);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3457 0.0666 270.1149);
  --input: oklch(0.3457 0.0666 270.1149);
  --ring: #3c83f6;
  --chart-1: #3c83f6;
  --chart-2: oklch(0.7660 0.1179 145.2950);
  --chart-3: oklch(0.8179 0.1705 77.9481);
  --chart-4: oklch(0.6539 0.1926 25.1437);
  --chart-5: oklch(0.6455 0.1622 321.6136);
  --sidebar: oklch(0.1796 0.0399 270.8287);
  --sidebar-foreground: oklch(0.9279 0.0213 268.4266);
  --sidebar-primary: #3c83f6;
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3457 0.0666 270.1149);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3457 0.0666 270.1149);
  --sidebar-ring: #3c83f6;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0% 0%;

  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.03);

  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.05);

  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.10),
    0px 1px 2px -1px hsl(0 0% 0% / 0.10);

  --shadow-md:
    0px 4px 6px -1px hsl(0 0% 0% / 0.10),
    0px 2px 4px -2px hsl(0 0% 0% / 0.10);

  --shadow-lg:
    0px 10px 15px -3px hsl(0 0% 0% / 0.10),
    0px 4px 6px -4px hsl(0 0% 0% / 0.10);

  --shadow-xl:
    0px 20px 25px -5px hsl(0 0% 0% / 0.10),
    0px 8px 10px -6px hsl(0 0% 0% / 0.10);

  --shadow-2xl:
    0px 25px 50px -12px hsl(0 0% 0% / 0.25);

  --shadow-inner:
    inset 0px 2px 4px 0px hsl(0 0% 0% / 0.05);

  --shadow-none: 0px 0px 0px 0px transparent;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
